* {
  margin: 0;
  padding: 0;
} 





  
  

  
 

  .mainFile-div{
   background-image: url("../Images/plainwall.png");
   background-repeat: no-repeat;
   background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 100%;
   position:fixed;
  }
  .cabinet-frame{
    
/* width: 250px; */
/* height: 90%; */
    width: 200px;
    height: 500px;
    background-image: url("../Images/cabinetframe.png");
    background-repeat: no-repeat;
    background-size: contain ;
    background-position-x:center;
    align-self: center;
    margin-top:19%;

    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   padding-top:5%;
   padding-bottom:6%;
   /* position: relative; */
  /* margin-bottom: 5%; */
  /* position: fixed; */
  }

/* .addmeeting{
  width: 80%;
  
} */
div.contain-file{
  height: 120px;
  margin:0;
}
div.contain-file>a{
height: 100px;
}

div.nav-meetings{
  height: 100px;
}




img.addmeeting{
height: 120px;
/* width: 190px; */
margin:0px;
}








.button-frames{
  width: 68%;
  height: 15%;
  /* border:brown solid 4px; */
  display: flex;
  justify-content: space-between;
  /* position:absolute; */
  margin-top: 2%;
  align-self: center;
  /* z-index:3; */
}

.button-frames>.button-delete{

  height: 80px;
  width: 60px;
  background-image: url("../Images/deletecabinet.png");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position-x:center;
  border:none;
  outline:none;
  background-color: transparent;
 
}
div.button-frames>a{
  height: 80px;
  width: 60px;


  background-image: url("../Images/editcabinet.png");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position-x:center;
}
