* {
  margin: 0;
  padding: 0;
} 



.button-edit,.button-delete{
    height: 80px;
    width: 80px;
    border: solid 6px orange;
}


.confile-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    margin: auto;
    flex-direction: column;
  }
  


  div.all-bs {
    display: flex;
    justify-content: space-around;
    z-index:1;
    width: 60%;
    align-self: center;
  }
  
  /* Delete & Edit Common */
 
  
  .button-delete{
  width: 60%;
  background-color: red;
  }
  
  
  div.all-bs > a > button{
    width: 100%;
   
    margin-left: 20px;

  }
  
  
  
  
  
  /* .modal-a{
    border: red 2px solid;
    width: 100%;
  
  } */
  .concar-div{
    width: 50%;
      border: green solid 8px;
      display:flex;
      flex-direction: column;
      justify-content: center;
  }
  img.concar{
      height: 200px;
      width: 200px;
      align-self: center;
  }
  .mainFile-div{
    border:yellow 4px solid;
    width: 50%;
  }