

* {
  margin: 0;
  padding: 0;
} 
   .ul-select{
     list-style: none;
     border: black 3px solid;
     width: 100%;
     
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    }
    .li-select{
      border: solid 1px black;
      width: 45%;
      text-decoration: black;
      
    }
    .card-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list-files{
      background-color: aquamarine;
      border: solid yellow 12px;
    }
    .file-pic{
      
      width:95%;
      height: 80%;
      left: 0px;
      top: 0px;
      
    }
    
    .showMe{
      position: relative;
      z-index: 3;
   
    
     left:5%;
     color:black;
     font-weight: bolder;
  
    }
    .li-select > a {
      /* border: purple solid 4px; */
      position: relative;
      z-index: 3;
     bottom: 44%;
    
     width: 100%;
     left:15%;
     color:black;
     font-weight: bolder;
   
 
  
    }
    .li-select > a text{
    color:black;
    }