label.label-categories{
    height: 900px;
  margin-top:15%;
    width: 100%;
}
select#multi-select{
    height:220px;
    width: 100%;
    /* margin-top:15%; */
}
option.option-class{
    font-size: 33px;
    border-bottom: black 1px solid;
}
.input-class{
    margin-bottom:7%;
 
}
form.form-newfile{
    font-size: 28px;

}

label.label-name{
    margin-bottom:20%;
    font-size: 20px;
}
form{
    width: 100%;
}
.label-frame{
    width: 100%;
    background-color: beige;
    height:50px;
   padding-top:6%;
   /* padding-left:6%; */
   padding-bottom: 6%;
}
a > button.x-button{
    border-radius: 50%;
    border:black 1px solid;
    font-weight: bolder;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-decoration: rgb(46, 44, 44);
    margin-bottom:38px;
    position: relative;
    z-index: 5;
}
.submit{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
select#multi-select{
    border: white solid 1px;
}