* {
    margin: 0;
    padding: 0;
  } 


section.file-section{
    display: flex;
   
    background-color: grey;
    height: 100%;
    width: 100%;
    /* border:purple solid 3px; */
    position: relative;
    /* border:green solid 6px; */
}