.login-div{
    height: 100%;
    border: black solid 3px;
    height:auto!important;
    min-height:100vh;
}
.login-files{
    border: grey solid 2px;
    height: 280px;
    width: 100%;
  
    background-image: url("../Components/Images/loginfiles.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-triangle{
    margin-top:10%;
    height: 500px;
    width: 100%;
    background-image: url("../Components/Images/talltriangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color:white;
 
}
.brown-tri{
    height: 60px;
    width: 111px;
    align-self: center;
    margin-top:24%;
}

div.bold-text {
    font-family: 'AileronRegular';
    font-weight: normal;
    font-style: normal;
    color:white;
    width: 80%;
    align-self: center;
    font-size:26px;
    font-weight: bolder;
    margin-top:5%;
 }
 .small-font{
     font-size: 20px;
    font-family: 'Abel', sans-serif;
    color:white;
    width: 80%;
    align-self: center;
    margin-top:5%;
 }